
body {
    background-color: #F0F8FF;
    font-family: "Roboto", helvetica, arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    padding: 20px;
}

.jumbotron {
    background: transparent;
    text-align: center;
    font-size: 100px;
}

h1 {
	font-family: 'Ewert', cursive;
	color: #00004c !important;
	font-size: 75px !important;
}

p {
	font-family: 'Old Standard TT', serif;
	color: #00004c !important;
	font-size: 40px !important;
}


.panel-heading {
	background: #00004c !important;
}

